<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock%}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% block extra_css%}  {%endblock%}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <h2>MiLogo</h2>
        <nav>
            <a href="{% url 'anime:listar' %}">Inicio</a>
            <a href="{% url 'anime:crear' %}">Registrar</a>
        </nav>
    </header>

    <div class="contenedor-messages">
        {% if messages %}   
        <ul>
            {% for message in messages%}
                <li class="{{message.tags}}">{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    {% block content %}

    {% endblock %}
    
</body>
</html>