{% extends 'base.html' %}

{% load static %}


{% block title %} <title>Crear/Actualizar</title> {% endblock %}
{% block extra_css%} <link rel="stylesheet" href="{% static 'css/form.css' %}">{% endblock %}

{%block content%}
    
    <main>
        <div class="container-form">
            <form method="POST" enctype="multipart/form-data">
                <h1>Registro de anime</h1>
                <p>Ingresa el anime</p>
                {% csrf_token %}
                <div class="class_form">
                    <label for="nombre">Nombre</label>
                    {{form.nombre}}
                </div>

                <div class="class_form">
                    <label for="descripcion">Descripcion</label>
                    {{form.descripcion}}
                </div>

                <div class="class_form">
                    <label for="autor">Autor</label>
                    {{form.autor}}
                </div>
                
                <div class="class_form">
                    <label for="anio_lanzamiento">Año de lanzamiento</label>
                    {{form.anio_lanzamiento}}
                </div>

                <div class="class_form">
                    <label for="precio">Precio</label>
                    {{form.precio}}
                </div>

                <div class="class_form">
                    <label for="imagen">Imagen</label>
                    {{form.imagen}}
                </div>
                
                <button type="submit" class="btn-submit">Enviar</button>
            </form>
        </div>

    </main>

{% endblock %}