{% extends 'base.html' %}


{% block title %} <title>Listar</title> {% endblock %}
{% load static %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'css/listar.css' %}"> {% endblock %}

{% block content %}
    <div class="contenedor">
        <h1>Lista de animes</h1>
        <table>
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Anime</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Año Lanzamiento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for anime in animes %}
                <tr>
                    {% if anime.imagen %}
                    <td><img class="foto" src="{{anime.imagen.url}}" alt="{{anime.nombre}}"></td>
                    {% endif %}
                    <td>{{anime.nombre}}</td>
                    <td>{{anime.descripcion}}</td>
                    <td>{{anime.precio}}</td>
                    <td>{{anime.anio_lanzamiento}}</td>
                    <td>
                        <div class="acciones">
                            <a href="{% url 'anime:update' anime.pk %}" class="update">Update</a>
                            <a href="{% url 'anime:delete' anime.pk %}" class="delete">Eliminar</a>
                        </div>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

{% endblock %}